<p id="notice"><%= notice %></p>

<h1>Pre Enrollments</h1>

<table>
  <thead>
    <tr>
      <th>Semester</th>
      <th>Date initial</th>
      <th>Date finaaa22l</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pre_enrollments.each do |pre_enrollment| %>
      <tr>
        <td><%= pre_enrollment.semester %></td>
        <td><%= pre_enrollment.date_initial %></td>
        <td><%= pre_enrollment.date_final %></td>
        <td><%= link_to 'Show', pre_enrollment %></td>
        <td><%= link_to 'Edit', edit_pre_enrollment_path(pre_enrollment) %></td>
        <td><%= link_to 'Destroy', pre_enrollment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pre Enrollment', new_pre_enrollment_path %>
