<p id="notice"><%= notice %></p>

<h1>Record Enrollments</h1>

<table>
  <thead>
    <tr>
      <th>Pre enrollment</th>
      <th>Student</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @record_enrollments.each do |record_enrollment| %>
      <tr>
        <td><%= record_enrollment.pre_enrollment %></td>
        <td><%= record_enrollment.student %></td>
        <td><%= link_to 'Show', record_enrollment %></td>
        <td><%= link_to 'Edit', edit_record_enrollment_path(record_enrollment) %></td>
        <td><%= link_to 'Destroy', record_enrollment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Record Enrollment', new_record_enrollment_path %>
